<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save new student</title>
</head>
<body>
<form action="#"
      th:action="@{/api/students/save}"
      method="post"
      th:object="${emptyStudent}">

    <label for="name">name</label>
    <input id="name" th:field="${emptyStudent.name}" placeholder="example">
    <br><br>

    <label for="email">email</label>
    <input id="email" th:field="${emptyStudent.email}" placeholder="example">
    <br><br>

    <label for="studyFormat">studyFormat</label>
    <input id="studyFormat" th:field="${emptyStudent.studyFormat}" placeholder="example">
    <br><br>

    <button type="submit">save</button>
</form>

<div>
    <a th:href="@{/api/groups}">
        <button>go back</button>
    </a>
</div>


</body>
</html>