<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div>
<form th:method="post"
      th:action="@{'/api/students/update/' + ${id}}"
      th:object="${student}" style="width: 50%">

        <label for="name" class="form-label">Student Name</label>
        <input type="text" class="form-control"  th:field="*{name}" id="name">
        <label for="email" class="form-label">email</label>
        <input type="text" class="form-control" th:field="*{email}" id="email">
    <label style="text-align: center">Write study format of student</label>
    <input style="text-align: center; color: white" type="radio" value="ONLINE" th:field="*{studyFormat}" id="onlineFormat">
    <label for="onlineFormat" style="background-color: cadetblue">ONLINE</label>
    <input style="text-align: center; color: white" type="radio" value="OFFLINE" th:field="*{studyFormat}" id="offlineFormat">
    <label for="offlineFormat" style="background-color: cadetblue">OFFLINE</label>

    <input type="submit" value="update"/>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>