<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save new course</title>
</head>
<body>
<form action="#"
      th:action="@{/api/courses/save}"
      method="post"
      th:object="${emptyCourse}">

    <label for="name">name</label>
    <input id="name" th:field="${emptyCourse.name}" placeholder="example">
    <br><br>

    <label for="duration">duration</label>
    <input id="duration" th:field="${emptyCourse.duration}" placeholder="example">
    <br><br>

    <button type="submit">save</button>
</form>

<div>
    <a th:href="@{/api/companies}">
        <button>go back</button>
    </a>
</div>
</body>
</html>